aiohttp
aiosqlite
alembic
anthropic
beautifulsoup4
docker
fire
frozendict
frozenlist
huggingface-hub
jq
jsonschema
numpy
openai
ormar
pandas
protobuf
pydantic
pyte
python-dotenv
regex
requests
toml
tqdm
transformers
pytest
replicate
rich
jupyterlab
matplotlib
jupyter
ipywidgets